<details>
    <summary>
        <h2>&nbsp;Itenerary</h2>
    </summary>
    {% for thing in site.data.itenerary %}
    <p class="text"><b>{{ thing.time }} &mdash; {{ thing.title }}</b></p>
    <p>{{ thing.description }}</p>
    {% endfor %}
</details>

<details>
    <summary>
        <h2>&nbsp;Gifts</h2>
    </summary>
    <p>We strongly value community and are grateful that you're coming to celebrate with us! So instead of physical
        items,
        we are requesting experiences you can provide or participate in during the wedding celebration. For example, you
        could take a short shift making cocktails at the bar (supplies provided), play a song (open mic style), take
        (and
        share) photos or bring a polaroid to be passed around, provide some craft supplies or art for the guest book,
        bring
        some flowers for decoration, lead a short nature walk, lend a bike for someone to try out the trails at the
        venue,
        lend a simple lawn game to play, etc. Please indicate if you are interested in providing something in the RSVP
        form
        or message us directly!
    </p>
</details>

<details>
    <summary>
        <h2>&nbsp;Accomodations</h2>
    </summary>
    <p>Rustic accomodations are included with the venue. There are only 4 bathrooms on-site, however, so everyone still
        gets a campground experience. <a href="https://www.arizonanordicvillage.com/cabins-yurts">Cabins and yurts</a>
        include a wood-fired stove (subject to fire bans) and a power bank for charging devices, but no running water.
        These are limited, so we will assign cabins & yurts by the end of March to those who have RSVP’d. "Elders" and
        people from out of state have priority.</p>
    <ul>
        <li>Camping is preferred, for those who are comfortable with it. There are 8 spaces for car camping and nearly
            unlimited tent camping. If you are a happy camper but can't bring your own supplies, we can try to find some
            for you!
        </li>
        <li>One 30' yurt provides a lot of floor space for anyone willing to throw a sleeping bag on the floor.</li>
        <li>Six yurts can sleep two adults each, plus maybe a good friend on the floor?</li>
        <li>Four cabins can sleep four adults each, with a bed and two bunks. Could also fit someone on the floor here.
        </li>
        <li>Finally there are hotel and rental options in Flagstaff, ~20 minutes from the venue. We will try to connect
            people who express interest in sharing a rental or a ride into town, and rideshare apps ought to work as
            well.
        </li>
    </ul>
</details>

<details>
    <summary>
        <h2>&nbsp;Dress code</h2>
    </summary>
    <p>Eclectic &mdash; You are encouraged to stand out in some way, but only if you'd enjoy it! Just respect a few
        rules:
    </p>
    <ul>
        <li>Footwear should be appropriate for uneven ground. Your calves might "stand out" in heels, but it's not worth
            a
            turned ankle.</li>
        <li>Layer for comfort. June in Flagstaff is not like the rest of Arizona! Expect 70's during the day and low
            40's at
            night.</li>
        <li>Do express yourself, but don't <i>aim</i> to upset anyone!</li>
    </ul>
</details>

<details>
    <summary>
        <h2>&nbsp;Travel</h2>
    </summary>
    <p><b>Driving</b>: The
        <a href="https://maps.app.goo.gl/TYSk6TGXU9Mo6bkg9">Nordic Center</a>
        is ~20 minute drive north of Flagstaff. The drive from Phoenix is ~2.5-3 hours long.
    </p>
    <p><b>Flying</b>:
        <a href="https://maps.app.goo.gl/TYSk6TGXU9Mo6bkg9">Flagstaff</a> and
        <a href="https://maps.app.goo.gl/UaZSDFTuZSgeUSKh7">Phoenix</a>
        both have airports. Flights into Flagstaff are more convenient (30 minute drive
        from the Nordic Center) but more expensive. We will try to coordinate rides from Phoenix, and
        <a href="https://groometransportation.com/flagstaff/">Groome Transportation</a>
        operates a frequent shuttle service.
    </p>
</details>

<!-- <p>Unless you plan to buy us a house, we're only interested in gifts of experience or community. If you can lead a
    nature walk, mix some uncommon cocktails, or otherwise provide an experience for others at the wedding, please
    indicate your ideas on the RSVP form. We're happy to fund cool ideas (within reason!), and your presence will be a
    wonderful gift in itself!</p> -->