// Header
.page-header {
  text-align: center;
  margin: 1.5rem 0;
}

.names {
  @include serif_bold;
  font-size: 2.5rem;
}

// Content
.page-content {
  @include sans_regular;
  margin-bottom: 1.5rem;
}

.rsvp {
  border: 5px solid #d57530;
  text-align: center;
  padding: 5px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.text {
  text-align: center;
  margin: 0;
}

.save-text {
  margin-bottom: 1.5rem;
}

.caption {
  text-align: right;
  font-size: 12px;
  margin: 0 0 0;
}

.calendars {
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
}

.info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.cactusbirds-box {
  display: inline-block;
  width: 33%;
}

.cactusbirds {
  width: 100%;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1) 80%), to(rgba(0, 0, 0, 0)));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}

.info {
  display: inline-block;
  align-items: center;
  width: 64%
}