// Variables

// Spacing
$container-width: 980px !default;
$grid-gutter: 8px !default;

// Colors
$white: #fff;
$black: #222;
$gray: #333;
$sky: #7ef6ff;
$darksky: #56adb3;
$pink: #f09868;

// Styles
$text-color: $white;
$heavy: 700;
$regular: 400;
$light: 300;

// Transitions
$x-time: 0.25s;
$x-ease: ease-out;