<!DOCTYPE html>
<html>

{% include head.html %}

<body class="theme-default">
  <div class="wrapper">

    <header class="page-header">
      <h1 class="names">Emma Lodes & David Matthews</h1>
    </header>

    <div class="page-content">
      <h1 class="save-text">Come to our wedding!</h1>
      <h2 class="date">6 June 2026 &mdash;
        <a href="https://www.arizonanordicvillage.com/">
          Arizona Nordic Village</a>, Flagstaff, AZ
      </h2>
      {% include rsvp.html %}
      {% include calendar.html %}
      {% include photos.html %}
      {% include details.html %}
    </div>

  </div>
</body>

</html>